### Integrantes do grupo:
Luca Coutinho Melão

Thiago de Donato Youssef

Artur Reppucci Vaz de Lima

Vitor Fortes Giuliano Riccetti
### Turma B

## Leitura do Dataset
Aqui são realizados os imports necessários para o projeto e a leitura do dataset.

In [1]:
'''
Importando as bibliotecas necessárias para o trabalho
'''
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

In [2]:
'''
Leitura do dataset
'''

filename = 'heart_failure_clinical_records_dataset.csv'
if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo para prosseguir com o projeto!')
else:
    print(f'Não encontrei o arquivo {filename} aqui no diretório {os.getcwd()}, será que você não baixou o arquivo?')

Encontrei o arquivo heart_failure_clinical_records_dataset.csv, tudo certo para prosseguir com o projeto!

## A. Introdução do projeto

O objetivo do projeto é a elaboração de um Machine Learning que realiza a predição da mortalidade de pacientes por parada cardíaca/problemas cardiovasculares. Deseja-se prever uma informação numérica que remete ao risco de morte, portanto, trata-se de um target quantitativo. 

Com isso, é possível prever casos futuros em que um novo paciente/cliente venha a apresentar o problema no futuro para conduzi-lo ao tratamento antecipado e evitar a falência. Em outro contexto, isso também pode alertar uma seguradore do risco de um cliente acionar o seguro de vida, e a partir disso permitir que ela tome medidas com relação a precificação do mesmo.

O dataset adotado é descrito abaixo, e apresenta 12 features que contribuem para nosso modelo.

## B. Minerando Dados e Características do Dataset

## Heart failure clinic data

Entre as muitas competições disponíveis na plataforma Kaggle, encontra-se a de *Machine Learning* de casos de parada cardíaca conforme apresentado neste [link](https://www.kaggle.com/andrewmvd/heart-failure-clinical-data).

A base de dados apresentada no arquivo contém informação de 298 pacientes para os quais foram mensurados os seguintes parâmetros (as categorias serão mantidas em inglês assim como os nomes das variáveis):
 
 * `anaemia`: indica se paciente tem anemia. (boolean)
    - 0 = No,
    - 1 = Yes.
 * `creatinine_phosphokinase`: indica  o nível de enzima CPK no sangue em (mcg/L).
 * `diabetes`: indica se o paciente tem diabetes. (boolean)
    - 0 = No,
    - 1 = Yes.
 * `ejection_fraction`: porcentagem do sangue que deixa o coração a cada contração.
 * `high_blood_pressure`: indica se o paciente tem hipertensão ou não. (boolean)
    - 0 = No, 
    - 1 = Yes. 
 * `platelets`: número de plaquetas no sangue do paciente (kiloplatelets/mL).
 * `serum_creatinine`: nível de cretinina sérica no sangue do paciente (mg/dL).
 * `serum_sodium`: nível de sódio sérico no sangue (mEq/L).
 * `sex`: indica se o paciente é do sexo masculino ou feminino. (boolean)
    - 0 = Feminino, 
    - 1 = Masculino.
 * `smoking`: indica se o paciente é fumante. (boolean)
    - 0 = No, 
    - 1 = Yes. 
 * `time`: número da cabine.
 * `DEATH_EVENT`: indica se o paciente morreu. (boolean)
    - 0 = No, 
    - 1 = Yes.

In [28]:
dados_pre = pd.read_csv(filename)
dados_pre

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [29]:

#Retirando a coluna 'time', já que o grupo decidiu que ela não carrega informações relevantes

dados = dados_pre[['age','anaemia','creatinine_phosphokinase','diabetes','ejection_fraction','high_blood_pressure','platelets','serum_creatinine','serum_sodium','sex','smoking','DEATH_EVENT']]
dados

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,0

In [31]:
mulher = dados[dados['sex']==0]
homem = dados[dados['sex']==1]

mulher_surv = mulher[dados['DEATH_EVENT']==0]
mulher_nao_surv = mulher[dados['DEATH_EVENT']==1]

homem_surv = homem[dados['DEATH_EVENT']==0]
homem_nao_surv = homem[dados['DEATH_EVENT']==1]

C:\Users\limaa\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
C:\Users\limaa\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
C:\Users\limaa\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys
C:\Users\limaa\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [43]:
#Usando o comando 'describe' para analisar cada coluna

dados_mulheres_surv = mulher_surv.describe()
dados_mulheres_nao_surv = mulher_nao_surv.describe()

dados_homens_surv = homem_surv.describe()
dados_homens_nao_surv = homem_nao_surv.describe()

## C. Modelos de Predição

## D. Processo e Estatísticas de Validação

## E. Conclusão

## F. Referências bibliográficas